<div class="py-4">
  <div class="container">
    <div class="row">
      <h2 class="text-center">EuropeFとは</h2>
    </div>

    <div class="row　mx-5">
      <h4 class="text-center">
        サッカー欧州5大リーグについて語り合うサイトです。</br>
      　特に選手個々について細かく語れるようなサイトになっております。</br>
      　このサイトが皆様の憩いの場になることを祈っております。</br>
      </h4>
    </div>
  </div>
</div>