asertyhjあｓｓｄｆｂｇｆｄｓｆｇｈｇｆｄｓｓｄｆｃｖｂんｖｘ

            <%= link_to leagues_path do %>
              <span class ="text-body border-bottom border-dark">リーグ</span>
            <% end %>

            <%= link_to teams_path do %>
              <span class ="text-body border-bottom border-dark">チーム</span>
            <% end %>



            <%= link_to players_path do %>
              <span class ="text-body border-bottom border-dark">選手</span>
            <% end %>

            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
