

            <%= link_to admin_leagues_path do %>
              <span class ="text-body border-bottom border-dark">リーグ</span>
            <% end %>

            <%= link_to admin_teams_path do %>
              <span class ="text-body border-bottom border-dark">チーム</span>
            <% end %>



            <%= link_to admin_players_path do %>
              <span class ="text-body border-bottom border-dark">選手</span>
            <% end %>
            
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>