<% if resource.errors.any? %>
  <% resource.errors.full_messages.each do |message| %>
    <div class="row">
      <div class="col-12 text-center text-info">
        <div class="devise-messages">
          <%= message %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
