コメント
<% @comments.each do |comment| %>
<%= @user.user_name %>
  <%= comment.comment_contents %>
  <%= link_to "削除", recipe_path(@recipe), method: :delete, "data-confirm" => "削除しますか？" %>

               
<% end  %>
      <div class="text-center">
        <%= link_to "トップページへ", root_path, class: "btn btn-secondary" %>
      </div>
  </div>
</div>