<div class="container">
  <div class="py-4">
    <div class="row">
      <h2><span>ユーザー編集</span></h2>
    </div>
    
    <div class="row">
      <%= form_with model: @user, method: :patch do |f| %>
      <table class="table table-borderless">
        <tr>
          <td>ユーザー名</td>
          <td><%= f.text_field :user_name, class: "form-control" %></td>
        </tr>
        <tr>
          <td>
            <%= f.submit "編集を確定する", class: "btn btn-primary" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>