<div class="container">
  <div class="py-5">
    <div class="row">
      <div class="col-12">
        <h2>プロフィール</h2>
      </div>
    </div>
  
  
      <div class="row center-block">
      <div class="col-6">プロフィール</div>
      <div class="col-6"><%= @user.user_name %></div>
      </div>
      
    <div>
      
    <div class="row">
      <div class="col-4 offset-4"><%= link_to "お気に入り一覧へ", favorite_index_users_path %></div>
      <div class="w-25"></div>
    </div>
    <div class="row">
      <div class="col-4 offset-4"><%= link_to "コメント一覧へ", comment_index_users_path %></div>
      <div class="w-"></div>
    </div>
    <div class="row">
      <div class="col-4 offset-4"><%= link_to "ユーザー編集画面へ", edit_user_path(@user.id) %></div>
      <div class="w-100"></div>
    </div>
  </div>
</div>